@import "tailwindcss";


*{
  box-sizing: border-box;
}

body{
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  /* color: #66FCF1; */
}
  

